
body {
    background-color: #2c3e50;   
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;

}


#game-container {
    background-color: #ecf0f1;
    width: 800px;  
    height: 600px;
    border: 5px solid #34495e;  
    border-radius: 10px; 
}


h1 {
    
    text-align: center;
    color: white;
    font-size: 48px; 
}